* {
  box-sizing: border-box;
  text-decoration: none;
}

.header{
  height: 100px;
  width: 90vw;
  background-color: lightgreen;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
}

.header__bar{
  height: 50px;
  width: 200px;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}

.grid-6{
  margin: 0;
  font-weight: bold;
}

.user-action_box{
  position: absolute;
  right: 0;
  top: 70px;
  display: flex;
  padding: 0 20px;
}

.contents{
  height: calc(100vh - 120px);
  width: 75vw;
  background-color: lightblue;
  margin: 5px auto 0;
  padding: 30px 30px;
  border-radius: 50px;
  overflow: scroll;
}

.content_post{
  min-height: 100px;
  width: 60%;
  margin: 0 auto 15px;
  border: solid rgb(127, 187, 125);
  border-radius: 20px;
}

.name-box{
  margin-left: 20px;
}

.tweet_box{
  min-height: 75px;
  width: 90%;
  background-color: #fff;
  margin: 5px auto 5px;
  padding: 5px 10px;
  border-radius: 15px;
  word-wrap: break-word;
}

.more_list{
  display: flex;
  margin: 0 auto;
  list-style: none;
}

.delete-box{
  margin-left: 20px;
}

.paginate-box{
  text-align: center;
  margin: 0 auto;
}
