* {
  box-sizing: border-box;
  text-decoration: none;
}

.header{
  height: 100px;
  width: 90vw;
  background-color: lightgreen;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
}

.header__bar{
  height: 50px;
  width: 200px;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}

.grid-6{
  margin: 0;
  font-weight: bold;
}

.user-action_box{
  position: absolute;
  right: 0;
  top: 70px;
  display: flex;
  padding: 0 20px;
}
